.container {
  background-color: black;
  width: 100vw;
  height: 40px;
  position: fixed;
  display: flex;
  justify-content: flex-start;
  //   padding: 2px;
  padding: 2px;
  padding-left: 6px;
  z-index: 2;
  //   margin: 2px 0 2px 5px;
}
.navbar {
  transition: all 0.8s linear;
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.911);
  width: 35px;
  height: 35px;
  border: 1px solid white;
  padding: 4px;
  z-index: 2;
  cursor: pointer;
  &__burger {
    margin: auto 0;
    height: 3px;
    width: 100%;
    justify-content: space-between;
    background-color: white;
  }
}

//ANIMATIONS AND EFFECTS HERE

// .navbar:hover .navbar__burger--1,
.navbar:hover {
  .navbar__burger {
    &--1,
    &--3,
    &--2 {
      position: absolute;
      width: 25px;
    }
    &--1,
    &--2 {
      transform: rotateZ(45deg);
      transition: transform 0.4s linear;
    }
    &--3 {
      transform: rotateZ(-45deg);
      transition: transform 0.4s linear;
    }
  }
  margin: 0;
  justify-content: center;
  align-content: center;
}
